@import '~node_modules/modern-normalize/modern-normalize.css';

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding: 15px;
}

.search-form {
    background-color: rgba(57, 50, 104, 0.904); 
    padding-top: 15px; 
    padding-bottom: 15px; 
    text-align: center;
}

.inputAndImageWrapper {
    position: relative;
    display: inline-block;
}

input {
    padding-left: 5px;
    border-radius: 4px;
    height: 30px;
    outline: 1px solid rgba(33, 33, 33, 0.2);
}
input:hover, input:focus {
    outline: 1px solid rgba(184, 165, 0, 0.863);
}

.icon-search {
    position: absolute;
    top: 50%;
    right: 0px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    display: inline-block;
    width: 30px;
    height: 26px;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
    padding: 6px;
    border-radius: 3px;
    background-color: rgba(132, 146, 146, 0.349);
}

.icon-search:hover, .icon-search:focus {
    fill: rgb(29, 29, 223);
    background-color: rgba(116, 151, 151, 0.534);
}
  
.search-btn {
    position: absolute;
    top: 50%;
    right: 2px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 30px;
    height: 26px;
    border: transparent;
    background-color: transparent;
}

.load-more {
    padding: 5px 15px;
    margin: 15px auto;
    background-color: rgba(57, 50, 104, 0.904); 
    border-color: transparent;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
}
.load-more:hover, .load-more:focus {
    background-color: rgba(55, 47, 109, 0.993); 
}